body {
  background-color: #000;
}

canvas {
  position: absolute;
  z-index: 0;
  left: calc(50% - 320px);
  top: calc(50% - 360px);
  border-width: 5px;
  border-radius: 10px;
  border-color: #FFF;
  border-style: solid;
}

#title {
  width: 100%;
  text-align: center;
  color: #FFF;
}

#start {
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 50px;
  left: calc(50% - 45px);
  top: calc(50% - 250px);
}
